/*181106首页改版第三版*/
/*全局*/
@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
img {
	border: 0;
}
img:hover {
	-moz-opacity: 0.9 !important;
	filter: alpha(opacity=90);
	opacity: 0.9;
	_-moz-opacity: 0.9
}
html {
	height: 100%;
}
body {
	background-color: #fff;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
	font-size: 12px;
}
.l {
	float: left;
}
.r {
	float: right;
}
.red {
	color: red !important;
}
.orange {
	color: rgb(255, 108, 0);
}
.blue {
	color: rgb(0,61,166);
}
.center {
	text-align: center;
}
.wrap {
	margin: auto;
	width: 1200px;
}
.wrap2 {
	margin: auto;
	width: 1200px;
	overflow: auto;
}
input {
	font-family: "Microsoft YaHei", arial, sans-serif;
}
/* 链接 */
a {
	color: #888888;
	text-decoration: none;
}
a:hover {
	color: #1eabff;
}
/*标题*/
h1, h2, h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
/* 显示隐藏(js调用) */
.dis {
	display: block;
}
.undis {
	display: none;
}
/*清除浮动*/
.clearfix:after {
	clear: both;
	content: "\200B";
	display: block;
	height: 0;
}
.clearfix {
*zoom:1;
}
.clear {
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
	width: 0;
	border: none;
	overflow: hidden;
}
/*首页*/
/*top*/
.top {
	background: rgb(243, 243, 243);
	width: 100%;
	height: 38px;
	color: rgb(145, 145, 145);
	line-height: 38px;
}
.grey {
	color: rgb(134, 134, 134);
}
.top a {
	color: rgb(145, 145, 145);
}
.top a:hover {
	color: rgb(255, 0, 0);
}
.top_t1 {
	color: red;
}
.menu {
	float: left;
	position: relative;
}
.menu-hd {
	margin: 1px;
	padding: 0px 10px;
	width: 60px;
	height: 38px;
	z-index: 10003;
	cursor: pointer;
}
.menu-hd a span {
	color: rgb(255, 0, 0);
}
.menu-hd b {
	top: 15px;
	width: 0px;
	height: 0px;
	right: 10px;
	line-height: 0;
	font-size: 0px;
	border-top-color: rgb(171, 171, 171);
	border-right-color: rgb(238, 238, 238);
	border-left-color: rgb(238, 238, 238);
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	position: absolute;
}
.menu-bd {
	background: rgb(255, 255, 255);
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: currentColor rgb(191, 191, 191) rgb(191, 191, 191);
	padding: 0px 10px 5px;
	top: 38px;
	width: 60px;
	right: 0px;
	display: none;
	position: absolute;
	z-index: 10004;
}
.menu-bd a {
	line-height: 28px;
}
.menu:hover .menu-bd {
	display: block;
}
.menu:hover .menu-bd2 {
	display: block;
}
.menu:hover .menu-bd3 {
	display: block;
}
.menu:hover .menu-hd {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(191, 191, 191) rgb(191, 191, 191) rgb(255, 255, 255);
	margin: 0px;
}
.menu:hover .menu-hd2 {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(191, 191, 191) rgb(191, 191, 191) rgb(255, 255, 255);
	margin: 0px;
}
.menu-hd2 {
	margin: 1px;
	padding: 0px 10px;
	width: 97px;
	height: 34px;
	z-index: 10004;
	cursor: pointer;
}
.menu-hd2 a span {
	color: rgb(255, 0, 0);
}
.menu-hd2 b {
	top: 15px;
	width: 0px;
	height: 0px;
	right: 10px;
	line-height: 0;
	font-size: 0px;
	border-top-color: rgb(171, 171, 171);
	border-right-color: rgb(238, 238, 238);
	border-left-color: rgb(238, 238, 238);
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	position: absolute;
}
.menu-bd2 {
	background: rgb(255, 255, 255);
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: currentColor rgb(191, 191, 191) rgb(191, 191, 191);
	padding: 0px 10px 5px;
	top: 34px;
	width: 97px;
	right: 0px;
	display: none;
	position: absolute;
	z-index: 10001;
}
.menu-bd2 a {
	line-height: 28px;
}
.menu-hd3 {
	background: rgb(255, 255, 255);
	padding: 8px;
	border: 1px solid rgb(221, 221, 221);
	border-image: none;
	width: 77px;
	clear: both;
	position: relative;
	z-index: 10002;
	cursor: pointer;
}
.menu-bd3_m {
	margin: 40px 20px 0px;
}
.menu-hd3 a {
	color: rgb(156, 156, 156);
}
.menu:hover .menu-hd3 {
	border-bottom-color: currentColor;
	border-bottom-width: 0px;
	border-bottom-style: none;
}
.menu-hd3 b {
	top: 15px;
	width: 0px;
	height: 0px;
	right: 10px;
	line-height: 0;
	font-size: 0px;
	border-top-color: rgb(171, 171, 171);
	border-right-color: rgb(238, 238, 238);
	border-left-color: rgb(238, 238, 238);
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	position: absolute;
}
.menu-bd3 {
	background: rgb(255, 255, 255);
	left: 0px;
	top: 33px;
	width: 83px;
	clear: both;
	margin-top: -1px;
	display: none;
	position: absolute;
	z-index: 1006;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: rgb(191, 191, 191);
	border-bottom-color: rgb(191, 191, 191);
	border-left-color: rgb(191, 191, 191);
}
.menu-bd3 a {
	padding: 0px 8px;
	color: rgb(156, 156, 156);
	line-height: 24px;
	float: left;
}
.menu-bd3 h3 a {
	padding: 0px 5px;
	width: 167px;
	line-height: 28px;
	outline: none;
 hide-focus:expression(this.hideFocus=true);
}
.menu-bd3 a:hover {
	color: rgb(255, 0, 0);
}
/*jchg-footer*/
.jchg-footer {
	background-color: #363845;
	padding-top: 50px;
	padding-bottom: 50px;
}
.jchg-footer .logo-b {
	float: left;
	width: 350px;
	margin-bottom: 30px;
}
.jchg-footer .list-group {
	float: right;
	width: 850px;
	margin-bottom: 30px;
}
.jchg-footer .list-group .list {
	float: left;
	width: 212px;
}
.jchg-footer .list-group .list h1 {
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #fff;
	height: 32px;
	padding-left: 40px;
	margin-bottom: 15px;
}
.jchg-footer .list-group .list h1.icon01 {
	background-image: url(../img/jchg-footer-icon01.png);
}
.jchg-footer .list-group .list h1.icon02 {
	background-image: url(../img/jchg-footer-icon02.png);
}
.jchg-footer .list-group .list h1.icon03 {
	background-image: url(../img/jchg-footer-icon03.png);
}
.jchg-footer .list-group .list h1.icon04 {
	background-image: url(../img/jchg-footer-icon04.png);
}
.jchg-footer .list-group .list h1 a {
	color: #fff;
}
.jchg-footer .list-group .list h1 a:hover {
	color: #3687fc;
}
.jchg-footer .list-group .list ul {
	padding-left: 40px;
}
.jchg-footer .list-group .list ul li a {
	font-size: 12px;
	line-height: 24px;
	color: #aaaaaa;
}
.jchg-footer .list-group .list ul li a:hover {
	color: #3687fc;
}
.jchg-footer .footer-m {
	text-align: center;
	border-top: 1px solid #aaaaaa;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
	color: #aaaaaa;
	clear: both;
}
.jchg-footer .footer-m a {
	color: #aaaaaa;
}
.jchg-footer .footer-m a:hover {
	color: #3687fc;
}
/*首页广告*/
.jchg-guanggao {
	width: 1220px;
	margin-bottom: 10px;
	overflow: hidden;
}
.jchg-guanggao a {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.jchg-guanggao .l2 a {
	margin-right: 10px;
}
/*header*/
.mhg-header {
}
.mhg-header {
	padding: 20px 0px;
}
.mhg-header .mhg-logo {
	float: left;
	width: 300px;
	height: 90px;
	margin-right: 90px;
}
/*搜索*/
.mhg-search {
	width: 540px;
	float: left;
	padding-top: 13px;
}
.mhg-search .search-con {
	height: 64px;
}
.mhg-search .search-con .mhg-s-tab {
	height: 25px;
}
.mhg-search .search-con .mhg-s-tab h2 {
	font-size: 12px;
	line-height: 25px;
	color: #333;
	font-weight: normal;
	text-align: center;
	display: block;
	float: left;
	height: 25px;
	width: 70px;
	cursor: pointer;
}
.mhg-search .search-con .mhg-s-tab h2.over {
	background-color: #005bac;
	border-radius: 5px 5px 0px 0px;
	color: #fff;
}
.mhg-search .search-con .mhg-s-con {
	border: 2px solid #005bac;
	height: 35px;
}
.mhg-search .search-con .mhg-s-con em {
	font-style: normal;
}
.mhg-search .mhg-search-t {
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 35px;
	font-weight: normal;
	color: #666;
	background-image: url(../img/search.gif);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	float: left;
	height: 35px;
	width: 418px;
	padding-right: 10px;
	padding-left: 30px;
}
.mhg-search .mhg-search-b {
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 35px;
	color: #fff;
	background-color: #005bac;
	text-align: center;
	display: block;
	float: right;
	height: 35px;
	cursor: pointer;
	width: 78px;
}
.mhg-header .btn-group {
	float: right;
	width: 244px;
	padding-top: 38px;
}
.mhg-header .btn-group a {
	font-size: 15px;
	line-height: 37px;
	color: #333;
	background-color: #f5f5f5;
	text-align: center;
	display: block;
	height: 37px;
	width: 114px;
	border: 1px solid #bbb;
	border-radius: 5px;
}
.mhg-header .btn-group a:hover {
	color: #fff;
	background-color: #005bac;
}
.mhg-header .btn-group a.b-g-l {
	float: left;
}
.mhg-header .btn-group a.b-g-r {
	float: right;
}
/*mhg-nav*/

.mhg-nav {
	background-color: #005bac;
	height: 40px;
}
.mhg-nav ul.list {
}
.mhg-nav ul.list li {
	font-size: 17px;
	line-height: 40px;
	color: #fff;
	float: left;
	height: 40px;
	position: relative;
}
.mhg-nav ul.list li a {
	display: block;
	height: 40px;
	color: #fff;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
}
.mhg-nav ul.list li a:hover {
	background-color: #4293dc;
}
.mhg-nav ul.list li.choose a {
	background-color: #4293dc;
}
.mhg-nav ul.list li span.nav-icon {
	background-image: url(../img/mhg-nav-icon.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 40px;
	width: 7px;
	position: absolute;
	z-index: 99998;
	top: 0px;
	right: 20px;
	display: block;
}
.mhg-nav ul.list li .list2 {
	position: absolute;
	z-index: 99999;
	left: 0px;
	top: 34px;
	width: 100%;
	display: none;
	background-image: url(../img/mhg-nav-icon2.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 6px;
}
.mhg-nav ul.list li .list2 li {
	background-color: #fff;
	color: #333;
	box-shadow: 1px 1px 3px #dddddd;
	-moz-box-shadow: 1px 1px 3px #dddddd;
	-webkit-box-shadow: 1px 1px 3px #dddddd;
	-o-box-shadow: 1px 1px 3px #dddddd;
}
.mhg-nav ul.list li .list2 li a {
	color: #333;
}
.mhg-nav ul.list li .list2 li a:hover {
	color: #27aae1;
	background-color: #fff;
}
.mhg-nav ul.list li:hover .list2 {
	display: block;
}
/*首页 行*/
.mhg-grey {
 *background-color: #f5f5f5;
}
.mhg-grey .wrap {
	position: relative;
}
.mhg-line {
	padding-bottom: 15px;
}
.mhg-box {
	box-shadow: 0px 0px 15px #dddddd;
	-moz-box-shadow: 0px 0px 15px #dddddd;
	-webkit-box-shadow: 0px 0px 15px #dddddd;
	-o-box-shadow: 0px 0px 15px #dddddd;
	background-color: #fff;
}
/*标题*/
.mhg-tit {
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: #005bac;
	height: 40px;
	background-image: url(../img/mhg-tit.jpg);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left: 30px;
	position: relative;
}
.mhg-tit a {
	font-size: 12px;
	line-height: 40px;
	color: #666;
	background-image: url(../img/mhg-tit-a.png);
	background-repeat: no-repeat;
	background-position: 0px center;
	text-align: right;
	position: absolute;
	z-index: 999;
	height: 40px;
	width: 70px;
	top: 0px;
	right: 0px;
	font-weight: normal;
}
.mhg-tit a:hover {
	color: #005bac;
	background-position: 2px center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/*mhg-banner*/
.mhg-banner {
	float: left;
	height: 300px;
	width: 928px;
	margin-top: 15px;
}
.mhg-banner .flexslider {
	position: relative;
	height: 300px;
	overflow: hidden;
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.mhg-banner .slides {
	position: relative;
	z-index: 1;
}
.mhg-banner .slides img {
	height: 300px;
	width: 928px;
	position: absolute;
	left: 0%;
	top: 0px;
	display: block;
}
.mhg-banner .slides img:hover {
	-moz-opacity: 1 !important;
	filter: alpha(opacity=100);
	opacity: 1;
	_-moz-opacity: 1;
}
.mhg-banner .slides li {
	height: 300px;
}
.mhg-banner .flex-control-nav {
	position: absolute;
	bottom: 20px;
	z-index: 2;
	width: 908px;
	text-align: right;
	right: 20px;
}
.mhg-banner .flex-control-nav li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
*display:inline;
	zoom: 1;
}
.mhg-banner .flex-control-nav a {
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 50px;
	overflow: hidden;
	background: none;
	cursor: pointer;
	text-indent: -9999px;
	border: 1px solid #fff;
	border-radius: 10px;
}
.mhg-banner .flex-control-nav .flex-active {
	background-position: 0 0;
	border: 1px solid #3687fc;
	background-color: #3687fc;
}
.mhg-banner .flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}
.mhg-banner .flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}
/*mhg-login*/
.mhg-login {
	float: right;
	height: 300px;
	width: 257px;
	margin-top: 15px;
}
.mhg-login .login_index {
	position: relative;
	right: auto;
	top: auto;
	width: auto;
	height: 300px;
	background: #fff;
	z-index: 200;
	padding: 0px 20px;
}
.mhg-login .login_index .titlogin {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 15px;
}
.mhg-login .login_index .userlogin {
	padding-left: 50px;
	width: 158px;
	background-image: url(../img/jchg-login-u.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.mhg-login .login_index .mimalogin {
	padding-left: 50px;
	width: 158px;
	background-image: url(../img/jchg-login-m.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.mhg-login .login_index .yzlogin {
	width: 83px;
	padding: auto 10px;
}
.mhg-login .login_index .yz {
	position: relative;
}
.mhg-login .login_index .yz span {
	position: absolute;
	top: 5px;
}
.mhg-login .login_index .yz span img {
	height: 42px;
	width: 110px;
}
.mhg-login .login_index input {
	height: 40px;
	line-height: 40px;
	border: 1px solid #cdcdcd;
	margin-bottom: 10px;
	outline: none;
}
.mhg-login .login_index .btnlogin {
	width: 210px;
	height: 40px;
	border: 1px solid #005bac;
	border-radius: 5px;
	color: #005bac;
	text-align: center;
	font-size: 15px;
	background: #fff;
}
.mhg-login .login_index .btnlogin:hover {
	background: #005bac;
	color: #fff;
	cursor: pointer;
}
.mhg-login .login_index .userlogin:focus, .login_index .mimalogin:focus, .login_index .yzlogin:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
.mhg-login .login_index .forget {
	font-size: 13px;
	color: #333;
	float: left;
	line-height: 24px;
}
.mhg-login .login_index .zhuce {
	display: block;
	float: right;
	color: #333;
	font-size: 13px;
	width: 80px;
	text-align: right;
	background-color: #fff;
	line-height: 24px;
}
/*企业广告*/
.mhg-qygg {
	background-color: #fff;
	width: 908px;
	padding: 10px;
	height: 200px;
	overflow: hidden;
	float: left;
}
.mhg-qygg ul {
	width: 910px;
}
.mhg-qygg li {
	height: 200px;
	width: 180px;
	float: left;
	margin-right: 2px;
}
.mhg-qygg li img {
	height: 200px;
	width: 180px;
}
/*定制化销售*/
.mhg-dzh-xs {
	height: 220px;
	float: right;
	width: 257px;
	overflow: hidden;
}
.mhg-dzh-xs .list {
	border-top: solid 1px #dddddd;
	padding: 10px 10px 10px 20px;
}
.mhg-dzh-xs .list li {
	font-size: 12px;
	line-height: 26px;
	color: #888;
	height: 26px;
	border-left: solid 1px #dddddd;padding:0px;margin:0px;vertical-align:top;
}
.mhg-dzh-xs .list li span {
	font-size: 12px;
	line-height: 26px;
	color: #888;
	height: 26px;
	display: block;
	float: left;
	width: 46px;
	background-image: url(../img/mhg-dzh-li.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	margin-left: -5px;
}
.mhg-dzh-xs .list li a {
	display: block;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #888;
	width: 160px;
	height: 26px;
}
.mhg-dzh-xs .list li a:hover {
	color: #005bac;
}
/*采购信息*/
.mhg-cgxx {
}
.mhg-cgxx .cgxx-con {
	border-top: 1px solid #005bac;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	overflow: hidden;
}
.mhg-cgxx .cgxx-con .cg-list {
	width: 1200px;
	margin-bottom: 15px;
}
.mhg-cgxx .cgxx-con .cg-list li {
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 200px;
	padding: 20px 19px 20px 20px;
}
.mhg-cgxx .cgxx-con .cg-list li .img {
	height: 200px;
	width: 200px;
	position: relative;
	margin-bottom: 10px;
}
.mhg-cgxx .cgxx-con .cg-list li .img img {
	height: 200px;
	width: 200px;
}
.mhg-cgxx .cgxx-con .cg-list li .img .djs {
	position: absolute;
	z-index: 999;
	left: 0px;
	bottom: 0px;
	font-size: 14px;
	line-height: 46px;
	color: #fff;
	text-align: center;
	height: 42px;
	width: 200px;
	background-image: url(../img/mhg-cgxx-djs.png);
	background-repeat: repeat;
}
.mhg-cgxx .cgxx-con .cg-list li .img .djs span {
	font-size: 26px;
	font-style: italic;
	font-weight: bold;
	padding: 0px 2px;
}
.mhg-cgxx .cgxx-con .cg-list li .con {
	font-size: 14px;
	line-height: 24px;
	color: #333;
}
.mhg-cgxx .cgxx-con .cg-list li .con h1 {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	height: 48px;
	width: 100%;
}
.mhg-cgxx .cgxx-con .cg-list li .con h2 {
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #666;
}
.mhg-cgxx .cgxx-con .cg-list li .con p {
	font-size: 12px;
	color: #666;
	float: left;
	width: 115px;
	line-height: 24px;
	margin-top: 15px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mhg-cgxx .cgxx-con .cg-list li .con a.cg-btn1 {
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	display: block;
	float: right;
	height: 30px;
	width: 85px;
	background-color: #ff6600;
	border-radius: 5px;
	margin-top: 10px;
}
.mhg-cgxx .cgxx-con .cg-list li .con a.cg-btn1:hover {
	background-color: #FF3300;
}
.mhg-cgxx .cgxx-con .cg-list li .con a.cg-btn2 {
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	display: block;
	float: right;
	height: 30px;
	width: 85px;
	background-color: #bbb;
	border-radius: 5px;
	margin-top: 10px;
}
.mhg-cgxx .cgxx-con .cgxx-l {
	float: left;
	border-top: 1px solid #005bac;
	border-right: 1px solid #ddd;
	width: 870px;
}
.mhg-cgxx .cgxx-con .cgxx-r {
	float: right;
	border-top: 1px solid #005bac;
	border-left: 1px solid #ddd;
	width: 311px;
}
/*列表滚动*/
.mhg-scroll-tit {
	font-size: 15px;
	line-height: 42px;
	font-weight: normal;
	color: #005bac;
	padding-left: 20px;
}
.mhg-scroll-con {
	position: relative;
	clear: both;
}
.mhg-scroll-con .scroll-tab {
	position: absolute;
	z-index: 999;
	height: 30px;
	top: -30px;
	right: 0px;
	cursor: pointer;
}
.mhg-scroll-con .scroll-tab h2 {
	text-align: center;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 28px;
	font-weight: normal;
	color: #fff;
	padding-right: 10px;
	padding-left: 10px;
	height: 28px;
	background-color: #ccc;
	margin-right: 5px;
	margin-top: 2px;
	border-radius: 5px 5px 0px 0px;
}
.mhg-scroll-con .scroll-tab h2.over {
	line-height: 30px;
	background-color: #333;
	height: 30px;
	margin-top: 0px;
}
.mhg-scroll-con .scroll-con {
	overflow: hidden;
	height: 270px;
}
.mhg-scroll-con .scroll-con em {
	font-style: normal;
}
.mhg-scroll-con .scroll-con table {
	text-align: center;
}
.mhg-scroll-con .scroll-con table th {
	font-size: 14px;
	line-height: 24px;
	color: #333;
	padding: 10px;
	background-color: #efefef;
	border-top: 1px solid #ddd;
}
.mhg-scroll-con .scroll-con table td {
	font-size: 12px;
	line-height: 24px;
	color: #333;
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.mhg-scroll-con .scroll-con .mhg_gy_cont {
	overflow: hidden;
	height: 225px;
}
.mhg-scroll-con .scroll-con table .cy-btn {
	font-size: 12px;
	line-height: 24px;
	color: #fff;
	background-color: #0978b8;
	display: inline-block;
	height: 24px;
	width: 70px;
	border-radius: 5px;
}
.mhg-scroll-con .scroll-con table .cy-btn:hover {
	background-color: #ff6600;
}
/*定制化采购*/
.mhg-dzh-cg {
	height: 272px;
	overflow: hidden;
}
.mhg-dzh-cg .list {
	border-top: solid 1px #dddddd;
	padding: 20px;
}
.mhg-dzh-cg .list li {
	font-size: 12px;
	line-height: 26px;
	color: #888;
	height: 26px;
	border-left: solid 1px #dddddd;padding:0px;margin:0px;vertical-align:top;
}
.mhg-dzh-cg .list li span {
	font-size: 12px;
	line-height: 26px;
	color: #888;
	height: 26px;
	display: block;
	float: left;
	width: 46px;
	background-image: url(../img/mhg-dzh-li.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	margin-left: -5px;
}
.mhg-dzh-cg .list li a {
	display: block;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #888;
	width: 205px;
	height: 26px;
}
.mhg-dzh-cg .list li a:hover {
	color: #005bac;
}
/*挂牌列表*/
.mhg-gplb {
	float: left;
	width: 928px;
}
.mhg-gplb .gplb-con {
	border-top: 1px solid #005bac;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #fff;
}
.mhg-gplb .gplb-con .gp-gg {
	height: 72px;
	padding-left: 20px;
}
.mhg-gplb .gplb-con .gp-gg .tit {
	font-size: 15px;
	line-height: 72px;
	font-weight: normal;
	color: #005bac;
	float: left;
	height: 72px;
	width: 85px;
}
.mhg-gplb .gplb-con .gp-gg ul {
	float: left;
	width: 700px;
	padding-top: 14px;
}
.mhg-gplb .gplb-con .gp-gg ul li {
	float: left;
	height: 32px;
	width: 110px;
	border: 1px solid #ddd;
	margin-right: 10px;
	padding: 5px;
}
.mhg-gplb .gplb-con .gp-gg ul li img {
	height: 32px;
	width: 110px;
}
.mhg-gplb .gplb-con .gp-gg ul li a {
}
/*成交订单*/
.mhg-cjdd {
	float: right;
	width: 257px;
}
.mhg-cjdd .cjdd-con {
	border-top: 1px solid #005bac;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 342px;	background-color: #fff;

}
.mhg-cjdd .cjdd-con .bt-list {
	height: 44px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #efefef;
	border-top: 1px solid #ddd;
}
.mhg-cjdd .cjdd-con .bt-list span {
	font-size: 14px;
	line-height: 24px;
	color: #333;
	padding: 10px;
	height: 24px;
	text-align: center;
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mhg-cjdd .cjdd-con .tl-list {
	height: 288px;
	overflow: hidden;
	margin: 5px;
}
.mhg-cjdd .cjdd-con .tl-list ul li {
	height: 44px;
	border-bottom: 1px solid #ddd;
}
.mhg-cjdd .cjdd-con .tl-list ul li span {
	font-size: 12px;
	line-height: 24px;
	color: #333;
	background-color: #fff;
	padding: 10px;
	height: 24px;
	text-align: center;
	display: block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mhg-cjdd .cjdd-con .tl-list ul li a {
	color: #333;
}
.mhg-cjdd .cjdd-con .tl-list ul li a:hover {
	color: #005bac;
	text-decoration: underline;
}
/*热门企业*/
.mhg-rmqy {
	border-top: 1px solid #005bac;
	padding-top: 12px;
}
.mhg-rmqy .l-tit {
	background-image: url(../img/mhg-rmqy-tit.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 300px;
	width: 190px;
	overflow: hidden;
	position: relative;
	margin-right: 12px;
}
.mhg-rmqy .l-tit .con {
	color: #fff;
	background-image: url(../img/mhg-cgxx-djs.png);
	background-repeat: repeat;
	padding: 20px 10px;
	position: absolute;
	z-index: 999;
	left: 0px;
	bottom: 0px;
	text-align: center;
}
.mhg-rmqy .l-tit .con h1 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}
.mhg-rmqy .l-tit .con h2 {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
}
.mhg-rmqy .c-list {
	float: left;
	height: 300px;
	width: 796px;
	overflow: hidden;
}
.mhg-rmqy .c-list ul {
	width: 808px;
}
.mhg-rmqy .c-list li {
	float: left;
	border: 1px solid #ddd;
	padding: 8px;
	height: 126px;
	width: 172px;
	margin-right: 12px;
	margin-bottom: 12px;	background-color: #fff;

}
.mhg-rmqy .c-list li .img {
	width: 172px;
	height: 65px;
}
.mhg-rmqy .c-list li .img img {
	width: 172px;
	height: 65px;
}
.mhg-rmqy .c-list li .con {
	height: 61px;
}
.mhg-rmqy .c-list li .con h1 {
	font-size: 14px;
	line-height: 30px;
	color: #333;
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
	margin-top: 5px;
}
.mhg-rmqy .c-list li .con p {
	font-size: 12px;
	line-height: 25px;
	color: #333;
	display: block;
	float: left;
	height: 25px;
	width: 110px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
}
.mhg-rmqy .c-list li .con .jd-btn {
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	background-color: #005bac;
	text-align: center;
	display: block;
	float: right;
	height: 25px;
	width: 60px;
	border-radius: 5px;
}
.mhg-rmqy .c-list li .con .jd-btn:hover {
	background-color: #ff6600;
}
.mhg-rmqy .r-img {
	float: right;
	height: 300px;
	width: 190px;
}
.mhg-rmqy .r-img img:hover {
	-moz-opacity: 1 !important;
	filter: alpha(opacity=100);
	opacity: 1;
	_-moz-opacity: 1;
}
/*资讯动态*/
.mhg-zxdt {
	border-top: 1px solid #005bac;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 20px;	background-color: #fff;

}
.mhg-zxdt .zixun_cont {
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	box-shadow: none;
	background: #fff;
}
.mhg-zxdt .news_tit span {
	font-size: 16px;
	font-weight: normal;
}
.mhg-zxdt .news_tit a {
	font-size: 12px;
	background-image: url(../img/mhg-tit-a.png);
	background-repeat: no-repeat;
	background-position: 0px center;
	padding-left: 42px;
}
.mhg-zxdt .news_tit a:hover {
	background-position: 2px center;
	color: #005bac;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.mhg-zxdt .news_more {
	color: #0b88c0;
}
.mhg-zxdt .news_cont_list a {
	background-image: url(../img/mhg-zxdt-li.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.mhg-zxdt .news_cont_list a:hover {
	color: #005bac;
}
