/*180928首页改版新增css*/
/*全局*/
@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
img {
	border: 0;
}
img:hover {
	-moz-opacity: 0.9 !important;
	filter: alpha(opacity=90);
	opacity: 0.9;
	_-moz-opacity: 0.9
}
html {
	height: 100%;
}
body {
	background-color: #fff;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "SimSun";
	font-size: 12px;
}
.l {
	float: left;
}
.r {
	float: right;
}
.red {
	color: red !important;
}
.orange {
	color: rgb(255, 108, 0);
}
.blue {
	color: rgb(0,61,166);
}
.center {
	text-align: center;
}
.wrap {
	margin: auto;
	width: 1200px;
}
.wrap2 {
	margin: auto;
	width: 1200px;
	overflow: auto;
}
input {
	font-family: "Microsoft YaHei", arial, sans-serif;
}
/* 链接 */
a {
	color: #888888;
	text-decoration: none;
}
a:hover {
	color: #1eabff;
}
/*标题*/
h1, h2, h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
/* 显示隐藏(js调用) */
.dis {
	display: block;
}
.undis {
	display: none;
}
/*清除浮动*/
.clearfix:after {
	clear: both;
	content: "\200B";
	display: block;
	height: 0;
}
.clearfix {
*zoom:1;
}
.clear {
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
	width: 0;
	border: none;
	overflow: hidden;
}
/*首页*/
/*top*/
.top {
	background: rgb(243, 243, 243);
	width: 100%;
	height: 38px;
	color: rgb(145, 145, 145);
	line-height: 38px;
}
.grey {
	color: rgb(134, 134, 134);
}
.top a {
	color: rgb(145, 145, 145);
}
.top a:hover {
	color: rgb(255, 0, 0);
}
.top_t1 {
	color: red;
}
.menu {
	float: left;
	position: relative;
}
.menu-hd {
	margin: 1px;
	padding: 0px 10px;
	width: 60px;
	height: 38px;
	z-index: 10003;
	cursor: pointer;
}
.menu-hd a span {
	color: rgb(255, 0, 0);
}
.menu-hd b {
	top: 15px;
	width: 0px;
	height: 0px;
	right: 10px;
	line-height: 0;
	font-size: 0px;
	border-top-color: rgb(171, 171, 171);
	border-right-color: rgb(238, 238, 238);
	border-left-color: rgb(238, 238, 238);
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	position: absolute;
}
.menu-bd {
	background: rgb(255, 255, 255);
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: currentColor rgb(191, 191, 191) rgb(191, 191, 191);
	padding: 0px 10px 5px;
	top: 38px;
	width: 60px;
	right: 0px;
	display: none;
	position: absolute;
	z-index: 10004;
}
.menu-bd a {
	line-height: 28px;
}
.menu:hover .menu-bd {
	display: block;
}
.menu:hover .menu-bd2 {
	display: block;
}
.menu:hover .menu-bd3 {
	display: block;
}
.menu:hover .menu-hd {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(191, 191, 191) rgb(191, 191, 191) rgb(255, 255, 255);
	margin: 0px;
}
.menu:hover .menu-hd2 {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(191, 191, 191) rgb(191, 191, 191) rgb(255, 255, 255);
	margin: 0px;
}
.menu-hd2 {
	margin: 1px;
	padding: 0px 10px;
	width: 97px;
	height: 34px;
	z-index: 10004;
	cursor: pointer;
}
.menu-hd2 a span {
	color: rgb(255, 0, 0);
}
.menu-hd2 b {
	top: 15px;
	width: 0px;
	height: 0px;
	right: 10px;
	line-height: 0;
	font-size: 0px;
	border-top-color: rgb(171, 171, 171);
	border-right-color: rgb(238, 238, 238);
	border-left-color: rgb(238, 238, 238);
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	position: absolute;
}
.menu-bd2 {
	background: rgb(255, 255, 255);
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: currentColor rgb(191, 191, 191) rgb(191, 191, 191);
	padding: 0px 10px 5px;
	top: 34px;
	width: 97px;
	right: 0px;
	display: none;
	position: absolute;
	z-index: 10001;
}
.menu-bd2 a {
	line-height: 28px;
}
.menu-hd3 {
	background: rgb(255, 255, 255);
	padding: 8px;
	border: 1px solid rgb(221, 221, 221);
	border-image: none;
	width: 77px;
	clear: both;
	position: relative;
	z-index: 10002;
	cursor: pointer;
}
.menu-bd3_m {
	margin: 40px 20px 0px;
}
.menu-hd3 a {
	color: rgb(156, 156, 156);
}
.menu:hover .menu-hd3 {
	border-bottom-color: currentColor;
	border-bottom-width: 0px;
	border-bottom-style: none;
}
.menu-hd3 b {
	top: 15px;
	width: 0px;
	height: 0px;
	right: 10px;
	line-height: 0;
	font-size: 0px;
	border-top-color: rgb(171, 171, 171);
	border-right-color: rgb(238, 238, 238);
	border-left-color: rgb(238, 238, 238);
	border-top-width: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	position: absolute;
}
.menu-bd3 {
	background: rgb(255, 255, 255);
	left: 0px;
	top: 33px;
	width: 83px;
	clear: both;
	margin-top: -1px;
	display: none;
	position: absolute;
	z-index: 1006;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: rgb(191, 191, 191);
	border-bottom-color: rgb(191, 191, 191);
	border-left-color: rgb(191, 191, 191);
}
.menu-bd3 a {
	padding: 0px 8px;
	color: rgb(156, 156, 156);
	line-height: 24px;
	float: left;
}
.menu-bd3 h3 a {
	padding: 0px 5px;
	width: 167px;
	line-height: 28px;
	outline: none;
 hide-focus:expression(this.hideFocus=true);
}
.menu-bd3 a:hover {
	color: rgb(255, 0, 0);
}
/*header*/
.jchg-header {
	padding: 20px 0px;
}
.jchg-header .jchg-logo {
	float: left;
	width: 50%;
	height: 90px;
}
/*搜索*/
.jchg-search {
	width: 50%;
	height: 90px;
	float: right;
}
.jchg-search .search {
	width: 466px;
	HEIGHT: 75px;
	float: right;
	padding: 15px 0 0 0;
}
.jchg-search #search_top {
	width: 466px;
	HEIGHT: 25px;
	TEXT-ALIGN: right;
}
.jchg-search #search_top li {
	FONT-SIZE: 12px;
	FLOAT: left
}
.jchg-search .search_insidew {
	MARGIN-TOP: 2px;
	padding: 0 15px;
	LINE-HEIGHT: 23px;
	HEIGHT: 23px;
	TEXT-ALIGN: center;
}
.jchg-search .search_insider {
	FONT-WEIGHT: bold;
	padding: 5px 15px 0 15px;
	COLOR: #ffffff;
	HEIGHT: 23px;
	BACKGROUND-COLOR: #3687fc;
	TEXT-ALIGN: center
}
.jchg-search .search_insider a:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.jchg-search .search_insider a {
	color: #fff;
}
.jchg-search #search_bottom {
	POSITION: relative;
	width: 466px;
}
.jchg-search .search_t input {
	line-height: 34px;
	width: 334px;
	height: 34px;
	border: 3px solid #3687fc;
	padding-left: 25px;
	color: #999;
	display: block;
	background: url(img/search.gif) no-repeat 5px center;
	outline: none;
}
.jchg-search .search_btn {
	width: 100px;
	height: 40px;
	background: #3687fc;
	text-align: center;
	line-height: 40px;
	color: white;
	display: block;
	font-size: 16px;
}
.jchg-search #search_bottom #e1 {
	Z-INDEX: 0;
	LEFT: 0px;
	VISIBILITY: visible;
	POSITION: absolute;
	TOP: 0px;
}
.jchg-search #search_bottom #e2 {
	Z-INDEX: 0;
	LEFT: 0px;
	VISIBILITY: hidden;
	POSITION: absolute;
	TOP: 0px;
}
.jchg-search #search_bottom #e3 {
	Z-INDEX: 2;
	LEFT: 0px;
	VISIBILITY: hidden;
	POSITION: absolute;
	TOP: 0px;
}
/*jchg-nav*/
.jchg-nav {
	border-bottom: 2px solid #f2f2f2;
}
.jchg-nav ul.list {
	padding-bottom: 10px;
	padding-top: 5px;
}
.jchg-nav ul.list li {
	font-size: 17px;
	line-height: 35px;
	color: #333;
	float: left;
	margin-right: 20px;
}
.jchg-nav ul.list li a {
	display: block;
	height: 35px;
	padding-right: 35px;
	padding-left: 35px;
	color: #333;
}
.jchg-nav ul.list li a:hover {
	color: #fff;
	background-color: #3687fc;
}
.jchg-nav ul.list li.choose a {
	color: #fff;
	background-color: #3687fc;
}
/*jchg-banner*/
.jchg-banner {
	background-color: #f2f2f2;
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;
}
.jchg-banner .jchg-dw {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
/*定制化交易*/
.dzh-main {
	position: absolute;
	z-index: 9999;
	height: 300px;
	width: 250px;
	overflow: hidden;
	top: 0px;
	left: 0px;
	background-color: #fff;
}
.dzh-main .res_tab {
	overflow: hidden;
	width: 252px;
}
.dzh-main .res_tab h2 {
	border-top: 1px solid #fff;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	float: left;
	display: block;
	width: 125px;
	font-size: 15px;
	line-height: 35px;
	font-weight: normal;
	color: #666;
	text-align: center;
	height: 35px;
}
.dzh-main .res_tab h2.over {
	border-top: 1px solid #3687fc;
	border-bottom: 1px solid #fff;
	color: #3687fc;
}
.dzh-main .res_con {
	padding-top: 10px;
}
.dzh-main .dzh-list {
	overflow: hidden;
}
.dzh-main .dzh-list li {
	padding: 10px;
	border-bottom: 1px dotted #ddd;
	height: 42px;
}
.dzh-main .dzh-list li span {
	font-size: 12px;
	color: #999;
	display: block;
	float: left;
	text-align: center;
	width: 50px;
	line-height: 42px;
}
.dzh-main .dzh-list li a {
	display: block;
	float: right;
	width: 165px;
	font-size: 14px;
	line-height: 21px;
	color: #666;
	padding-left: 10px;
	padding-right: 5px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	word-break: break-all;
}
.dzh-main .dzh-list li a:hover {
	color: #3687fc;
	text-decoration: underline;
}
/*登录框*/
.jchg-login {
	position: absolute;
	z-index: 9999;
	height: 300px;
	width: 250px;
	overflow: hidden;
	top: 0px;
	right: 0px;
}
.jchg-login .login_index {
	position: relative;
	right: auto;
	top: auto;
	width: auto;
	height: 300px;
	background: #fff;
	z-index: 200;
	padding: 15px 20px;
}
.jchg-login .login_index .titlogin {
	font-size: 16px;
	font-weight: bold;
	color: #666;
	text-align: center;
	padding-bottom: 10px;
}
.jchg-login .login_index .userlogin {
	padding-left: 50px;
	width: 158px;
	background-image: url(img/jchg-login-u.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.jchg-login .login_index .mimalogin {
	padding-left: 50px;
	width: 158px;
	background-image: url(img/jchg-login-m.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.jchg-login .login_index .yzlogin {
	width: 83px;
	padding: auto 10px;
}
.jchg-login .login_index .yz {
	position: relative;
}
.jchg-login .login_index .yz span {
	position: absolute;
	top: 5px;
}
.jchg-login .login_index .yz span img {
	height: 42px;
	width: 110px;
}
.jchg-login .login_index input {
	height: 40px;
	line-height: 40px;
	border: 1px solid #cdcdcd;
	margin-bottom: 10px;
	outline: none;
}
.jchg-login .login_index .btnlogin {
	width: 210px;
	height: 40px;
	border: 1px solid #237cf6;
	color: #237cf6;
	text-align: center;
	font-size: 15px;
	background: #fff;
}
.jchg-login .login_index .btnlogin:hover {
	background: #237cf6;
	color: #fff;
	cursor: pointer;
}
.jchg-login .login_index .userlogin:focus, .login_index .mimalogin:focus, .login_index .yzlogin:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
.jchg-login .login_index .forget {
	font-size: 13px;
	color: #a2a2a2;
	float: left;
}
.jchg-login .login_index .zhuce {
	display: block;
	float: right;
	background: #f79300;
	color: #fff;
	font-size: 12px;
	width: 80px;
	height: 24px;
	text-align: center;
	line-height: 24px;
}
/*banner*/
.jchg-banner .flexslider {
	position: relative;
	height: 300px;
	overflow: hidden;
	background-image: url(img/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.jchg-banner .slides {
	position: relative;
	z-index: 1;
}
.jchg-banner .slides img {
	height: 300px;
	width: 1920px;
	margin-left: -960px;
	position: absolute;
	left: 50%;
	top: 0px;
	display: block;
}
.jchg-banner .slides img:hover {
	-moz-opacity: 1 !important;
	filter: alpha(opacity=100);
	opacity: 1;
	_-moz-opacity: 1;
}
.jchg-banner .slides li {
	height: 300px;
}
.jchg-banner .flex-control-nav {
	position: absolute;
	bottom: 20px;
	z-index: 2;
	width: 650px;
	text-align: left;
	margin-left: -325px;
	left: 50%;
}
.jchg-banner .flex-control-nav li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
*display:inline;
	zoom: 1;
}
.jchg-banner .flex-control-nav a {
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 50px;
	overflow: hidden;
	background: none;
	cursor: pointer;
	text-indent: -9999px;
	border: 1px solid #fff;
}
.jchg-banner .flex-control-nav .flex-active {
	background-position: 0 0;
	border: 1px solid #3687fc;
	background-color: #3687fc;
}
.jchg-banner .flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}
.jchg-banner .flex-direction-nav li a {
	display: block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
}
/*jchg-footer*/
.jchg-footer {
	background-color: #363845;
	padding-top: 50px;
	padding-bottom: 50px;
}
.jchg-footer .logo-b {
	float: left;
	width: 350px;
	margin-bottom: 30px;
}
.jchg-footer .list-group {
	float: right;
	width: 850px;
	margin-bottom: 30px;
}
.jchg-footer .list-group .list {
	float: left;
	width: 212px;
}
.jchg-footer .list-group .list h1 {
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #fff;
	height: 32px;
	padding-left: 40px;
	margin-bottom: 15px;
}
.jchg-footer .list-group .list h1.icon01 {
	background-image: url(img/jchg-footer-icon01.png);
}
.jchg-footer .list-group .list h1.icon02 {
	background-image: url(img/jchg-footer-icon02.png);
}
.jchg-footer .list-group .list h1.icon03 {
	background-image: url(img/jchg-footer-icon03.png);
}
.jchg-footer .list-group .list h1.icon04 {
	background-image: url(img/jchg-footer-icon04.png);
}
.jchg-footer .list-group .list h1 a {
	color: #fff;
}
.jchg-footer .list-group .list h1 a:hover {
	color: #3687fc;
}
.jchg-footer .list-group .list ul {
	padding-left: 40px;
}
.jchg-footer .list-group .list ul li a {
	font-size: 12px;
	line-height: 24px;
	color: #aaaaaa;
}
.jchg-footer .list-group .list ul li a:hover {
	color: #3687fc;
}
.jchg-footer .footer-m {
	text-align: center;
	border-top: 1px solid #aaaaaa;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
	color: #aaaaaa;
	clear: both;
}
.jchg-footer .footer-m a {
	color: #aaaaaa;
}
.jchg-footer .footer-m a:hover {
	color: #3687fc;
}
/*首页正文*/
.jchg-grey {
	background-color: #f2f2f2;
}
.jchg-grey .wrap {
	position: relative;
	overflow: hidden;
}
/*首页广告*/
.jchg-guanggao {
	width: 1220px;
	margin-bottom: 10px;
	overflow: hidden;
}
.jchg-guanggao a {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.jchg-guanggao .l2 a {
	margin-right: 10px;
}
/*首页内容*/
.jchg-main {
	background-color: #fff;
	margin-bottom: 20px;
}
.jchg-title {
	height: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.jchg-title h1 {
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	color: #333;
	float: left;
}
.jchg-title h2 {
	font-size: 14px;
	line-height: 30px;
	color: #aaa;
	float: left;
	padding-left: 15px;
	font-weight: normal;
}
.jchg-title a {
	font-size: 14px;
	line-height: 30px;
	color: #666;
	text-align: right;
	display: block;
	float: right;
	width: 40px;
}
.jchg-title a:hover {
	color: #3687fc;
}
.jchg-con {
	position: relative;
}
/*挂牌区*/
.jchg-gp-tab {
	position: absolute;
	z-index: 10;
	left: 250px;
	top: -36px;
}
.jchg-gp-tab h2 {
	float: left;
	font-size: 14px;
	line-height: 35px;
	font-weight: normal;
	color: #666;
	height: 35px;
	padding-right: 30px;
	padding-left: 30px;
	cursor: pointer;
	display: block;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.jchg-gp-tab h2.over {
	border-top: 1px solid #3687fc;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}
.jchg-gp-con {
	border-top: 1px solid #ddd;
	position: relative;
}
.jchg-gp-con .gp_more {
	position: absolute;
	z-index: 20;
	top: -45px;
	right: 20px;
	font-size: 14px;
	line-height: 35px;
	color: #666;
}
.jchg-gp-con .gp_more a {
	color: #666;
}
.jchg-gp-con .gp_more a:hover {
	color: #3687fc;
}
.jchg-gp-con .ts_gy_cont {
	background: #fff;
	height: 250px;
	overflow: hidden;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.jchg-gp-con .ts_gy_cont table {
	border-collapse: collapse;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #666;
}
.jchg-gp-con .ts_gy_cont .gy_table1 {
	cursor: pointer;
}
.jchg-gp-con .ts_gy_cont .gy_table1 td {
	border-bottom: 1px solid #ececec;
	font-size: 13px;
}
.jchg-gp-con .ts_gy_cont .gy_table2 td {
	font-size: 14px;
	font-weight: bold;
}
.jchg-gp-con #ts_gy_cont1, #ts_gy_cont3, #ts_gy_cont5 {
	overflow: hidden;
	height: 210px;
}
.jchg-gp-con .ts_gy_cont .gua_bg, .ts_gy_cont .pai_bg, .ts_gy_cont .zhao_bg, .ts_gy_cont .tuan_bg {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: block;
	color: #fff;
	line-height: 20px;
	font-size: 12px !important;
}
.jchg-gp-con .ts_gy_cont .gua_bg, .scroll_cont .box .zy_list .gua_bg {
	background-color: #003DA6;
}
.jchg-gp-con .ts_gy_cont .pai_bg, .scroll_cont .box .zy_list .pai_bg {
	background: #ea3921;
}
.jchg-gp-con .ts_gy_cont .zhao_bg, .scroll_cont .box .zy_list .zhao_bg {
	background: #4ebc69;
}
.jchg-gp-con .ts_gy_cont .tuan_bg, .scroll_cont .box .zy_list .tuan_bg {
	background: #ff8005;
}
/*店铺区*/
.jchg-con .ts_shop_l {
	width: 240px;
	height: 480px;
	float: left;
	position: relative;
	overflow: hidden;
	background-image: url(img/jchg-dianpu-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
.jchg-con .scroll {
	padding: 0px;
	margin: auto auto auto 20px;
}
.jchg-con .jituan_logo {
	background-image: url(img/hg_jituan_bg.png);
}
.jchg-con .jituan_dian {
	width: 920px;
	height: 500px;
	overflow: hidden;
	float: right;
	margin-right: 20px;
}
.jchg-con .jituan_dian ul {
	width: 930px;
	height: 500px;
	overflow: hidden;
}
.jchg-con .jituan_dian li {
	width: 210px;
	height: 228px;
	float: left;
	border: 1px solid #e7e7e7;
	margin-left: 18px;
	margin-top: 0px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 0px 8px #e7e7e7;
}
.jchg-con .jituan_dian li figure {
	padding: 15px 50px 4px 50px;
}
.jchg-con .jituan_dian li .biaoti {
	padding: 10px 8px 0 8px;
	width: 194px;
}
.jchg-con .jituan_go {
	text-align: center;
	float: right;
	padding: 0px 20px;
	font-size: 16px;
	line-height: 24px;
	margin-right: 10px;
	border: 1px solid #3687fc;
	color: #fff;
	background-color: #3687fc;
}
.jchg-con .jituan_go a {
	color: #fff;
}
.jchg-con .jituan_go:hover {
	background: #fff;
}
.jchg-con .jituan_go:hover a {
	color: #3687fc;
}
/*资讯区*/
.jchg-con .zixun_cont {
	width: 1160px;
	height: 250px;
	padding: 20px;
	margin: auto;
	box-shadow: none;
	background: #fff;
	border-top: 1px solid #ddd;
}
.jchg-con .news {
	width: 385px;
}
/*181011 首页导航栏修改样式*/
.jchg-nav {
	border-bottom: solid 1px #1575ff;
	background-color: #3687fc;
}
.jchg-nav ul.list {
	padding-bottom: 0px;
	padding-top: 0px;
}
.jchg-nav ul.list li {
	font-size: 15px;
	line-height: 50px;
	height: 50px;
	color: #fff;
	float: left;
	margin-right: 1px;
	width: 170px;
	text-align: center;
}
.jchg-nav ul.list li a {
	display: block;
	height: 50px;
	padding-right: 0px;
	padding-left: 0px;
	color: #fff;
	width: 100%;
}
.jchg-nav ul.list li a:hover {
	background-color: #244a83;
}
.jchg-nav ul.list li.choose a {
	background-color: #244a83;
}
.jchg-banner {
	padding-top: 0px;
}
.dzh-main .res_tab h2.over {
	border-top: 1px solid #ddd;
}
/*181101 导航栏增加二级菜单*/
.jchg-nav .list li {
	position: relative;
}
.jchg-nav .list li .list2 {
	position: absolute;
	z-index: 99999;
	left: -1px;
	top: 0px;
	border-right: 1px solid #1575ff;
	border-left: 1px solid #1575ff;
	border-bottom: 1px solid #1575ff;
	margin-right: 1px;
	padding-top: 50px;
	width: 100%;
	display: none;
}
.jchg-nav .list li .list2 li {
	background-color: #3687fc;
	border-top: 1px solid #1575ff;
	margin-right: 0px;
	float: none;
	display: block;
	width: 100%;
}
.jchg-nav .list li:hover .list2 {
	display: block;
}
.jchg-nav ul.list li {
	width: 16.5%;
}
